header.head
    section.head-top-line
        nav.section
            ul.head-top-list
                li.head-top-item
                    a(href='#').head-logo
                        include ../../img/logo.svg
                        .text
                            span Wonen, cadeau &
                            span Lifestyle
                li.head-top-item.head-search
                    input(type='text' placeholder='Artikelen zoeken')
                    button
                        include ../../img/lupa.svg
                li.head-top-item
                    a(href='#').head-cart
                        include ../../img/cart.svg
                        span Winkelmand
                li.head-top-item
                    button.head-burger
                        span
    section.head-bottom-line
        nav.section
            ul.head-bottom-list
                li.head-bottom-item.head-search.head-search-mobile
                    input(type='text' placeholder='Artikelen zoeken')
                    button
                        include ../../img/lupa.svg
                li.head-bottom-item
                    a(href='#') Home
                li.head-bottom-item
                    a(href='#') Inspiratie
                li.head-bottom-item
                    a(href='#') In huis
                li.head-bottom-item
                    a(href='#') Kleding & Schoenen
                li.head-bottom-item
                    a(href='#') Tassen
                li.head-bottom-item
                    a(href='#') Mooimakers
                li.head-bottom-item
                    a(href='#') Bad & bed
                li.head-bottom-item
                    a(href='#') Koken & tafelen
                li.head-bottom-item
                    a(href='#') Papier
                li.head-bottom-item
                    a(href='#') Kado
                li.head-bottom-item
                    a(href='#') Contact / info
                li.head-bottom-item
                    a(href='#') Service